future
emoji
requests
sqlalchemy
python-telegram-bot==11.1.0
psycopg2-binary
feedparser
pyowm
bs4
lxml
demjson
PyLyrics
wget
gTTS
telegram
zalgo_text
pynewtonmath
bs4
telegraph
wikipedia
pythonping
#memes from SkittBot
spongemock
geopy
nltk
aiohttp>=2.2.5
Pillow>=4.2.0
#Cool stuff by Peak
#AEX
hurry.filesize
beautifulsoup4==4.6.3
tldextract
alphabet_detector
googletrans
